html, body{
    width:100%;
    height:100%
}

a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    text-decoration: none;
    color: #c0c0c0;
}

    a:hover {
        border-bottom-color: transparent;
        color: #fff;
    }

ul {
    list-style: none;
}



.logo-header {
    width: 4rem;
    height: 4rem;
     padding: 1.5em 0em 1.35em 1em;

}

.nav{
    display: flex;
    height: auto;
    width: 100%;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.nav-left {
    display: flex;
    align-items: center;
}


.nav-right {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
  
}

.nav-right img {
    width: 2rem;
    height: 2rem;
}

.nav-li{
    padding: 1.5em 0.5em 1.35em 0.5em;
    margin: 0 1rem;
}

.navleft-li {
    padding: 1.5em 0.5em 1.35em 0.5em;
    
}

.nav-leftwrap{
    margin: 0 1rem;
    flex: 1;
}

#kerarty-header {
    color: #c0c0c0;
    font-weight: 900;
    font-size: 1.6rem;
    font-family: "Open sans", sans-serif;
}



.banner {
    height: 28rem;
    width: auto;
    background-image: url("../images/123.jpg");
    
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;

}

.banner-header{
    width: 100%;
    background: #212121;
    background: rgba(27, 27, 27, 0.75);
    color: #fff;
    padding: 1.5em 0;
    text-align: center;
    font-family: Pacifico, cursive;
}

.diferenciales {
    display: flex;
    gap:0 1rem ;
    justify-content:space-around;
    margin: 3rem 9rem;
}

.diferenciales-icon{
    border-radius: 100%;
    border: solid;
    width: 5rem;
    height: 5rem;
    line-height: 5em;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    margin: 0 0 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diferenciales-icon-icon{
    width: 4rem;
    height: 4rem;
}

.diferenciales-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    
}

.diferenciales-descripcion {
    margin-top: 1.5rem;
    text-align: justify;
}



