html, body{
    width:100%;
    height:100%
}

a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    text-decoration: none;
    color: #c0c0c0;
}

    a:hover {
        border-bottom-color: transparent;
        color: #fff;
    }

ul {
    list-style: none;
}



.logo-header {
    width: 4rem;
    height: 4rem;
     /* padding: 1.5em 0em 1.35em 1em; */

}

.nav{
    display: flex;
    width: 100%;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
}

.nav-left {
    display: flex;
    align-items: center;
}


.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.nav-right img {
    width: 2rem;
    height: 2rem;
}

.nav-li{
    padding: 1.5em 0.5em 1.35em 0.5em;
    /* margin: 0 1rem; */
}

.navleft-li {
    padding: 1.5em 1em 0.5em 0em;
    
}

.nav-rightwrap{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.nav-leftwrap{
    /* margin: 0 1rem; */
    /* flex: 1; */
}

#terarty-header {
    color: #c0c0c0;
    font-weight: 900;
    font-size: 2rem;
    font-family: "Open sans", sans-serif;
}



.banner {
    height: 28rem;
    width: auto;
    background-image: url("../images/123.jpg");
    
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;

}

.banner-header{
    width: 100%;
    background: #212121;
    background: rgba(27, 27, 27, 0.75);
    color: #fff;
    padding: 0.75em 0;
    text-align: center;
    font-family: Pacifico, cursive;
    font-size: 2rem;
}

.diferenciales {
    /* display: flex;
    flex-direction: column;
    gap:0 1rem ;
    justify-content:space-around;
    margin: 3rem 9rem; */

    display: flex;
    flex-direction: column;
    gap: 0 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.diferenciales-icon{
    border-radius: 100%;
    border: solid;
    width: 5rem;
    height: 5rem;
    line-height: 5em;
    box-shadow: 0 0 0 7px #c0c0c0, 0 0 0 8px #212121;
    margin: 0 0 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(230, 61, 117, 0.541);
}

.diferenciales-icon-icon{
    width: 4rem;
    height: 4rem;
    
}

.diferenciales-icon-main {
    display: flex;
    justify-content: center;
}

.diferenciales-box {
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    width: 25%; */

    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 70%;
    margin-top: 2rem;
    
}

.diferenciales-descripcion {
    margin-top: 1.5rem;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.diferenciales-titulo {
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1024px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-header {
        width: 4rem;
        height: 4rem;
         padding: 1.5em 0em 1.35em 1em;
    
    }

    .nav-left {
        display: flex;
        align-items: center;
        margin-left: 2rem;
    }

    .navleft-li {
        padding: 1.5em 0.5em 1.35em 0.5em;
    }

    .diferenciales {
        display: flex;
        flex-direction: row;
        gap:0 1rem ;
        justify-content:space-around;
        margin: 3rem 9rem;
    }

    .diferenciales-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2rem;
        width: 25%;    
    }
}


